# Kconfig - Actions memory manager

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig UI_MEMORY_MANAGER
	bool "ui memory manager"
	help
	  This option enables ui memory manager

if UI_MEMORY_MANAGER

config UI_MEM_BLOCK_SIZE
	int "Block size (in bytes)"
	default 32
	help
	  This option specifies the size of block in bytes.

config UI_MEM_NUMBER_BLOCKS
	int "Number of Blocks"
	default 0
	help
	  This option specifies the block number. A value of zero
	  means that no framebuffer block is defined.

config UI_GUI_SRAM_POOL_SIZE
	int "GUI sram pool size (in bytes)"
	default 0
	help
	  This option specifies the size of the GUI sram pool. A size of zero
	  means that no GUI sram pool is defined.

config UI_RES_MEM_POOL_SIZE
	int "Resource memory pool size (in bytes)"
	default 0
	help
	  This option specifies the size of the resource memory pool. A size of
	  zero means that no resource memory pool is defined.

config UI_MEMORY_DEBUG
	bool "ui memory debug"
	depends on MEM_GUARD
	help
	  This option enables ui memory debug

endif # UI_MEMORY_MANAGER
